// app.scss

@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('../../../assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: medium;
  color: white;
  max-width: 100%;
}

#ucp {
  text-align: center;
}

.ucp-select-info {
  float: right;
  cursor: pointer;
}

#ucp-title {
  color: gold;
  font-weight: bold;
  padding-bottom: 20px;
}

.ucp-select {
  margin-right: 10px;
  z-index: 100;
}

.ucp-select-text {
  color: goldenrod;
  font-weight: bold;
  text-decoration: none;
}

.ucp-select-header {
  width: 98%;
}

.nav-tabs .nav-item .nav-link {
  width: max-content;
  padding: 5px;
  color: goldenrod;
  font-weight: medium;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: dimgray;
  border-color: dimgray;
  border-radius: 5px;
}

#myTabContent,
label {
  color: white;
}

#myTabHeaders,
#myTabContent {
  text-align: left;
}

#myTabContent {
  overflow-y: scroll;
  height: 300px;
  background: dimgray;
  border-radius: 10px;
  padding: 10px;
}

.description {
  padding-left: 32px;
  padding-right: 32px;
  overflow-wrap: break-word;
}

.ucp-change-header {
  display: inline;
}

input.ucp-change-header {
  margin-right: 10px;
}

input.ucp-slider {
  vertical-align: middle;
  margin-bottom: 3px;
}

.ucp-slider-range {
  display: inline;
  margin-left: 10px;
}

.ucp-slider-values span {
  display: inline;
  margin-left: 15px;
}
