html, .page {
    background-color: lightgray;
    font-size: medium;
}

input {
    width: 100px;
}

hr.header-divider {
    border: 1.5px solid black;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.latest-release {
    font-size: large;
    text-decoration: underline;
    text-decoration-style: solid;
}

.card.feature {
    width: 90%;
    padding: 5px;
    margin: 5px;
}

.card.aic-gen,
.card.aic-field {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.card.aic-gen .card-header,
.card.aic-field .card-header {
    height: 100%;
    margin: 0;
    padding: 0;
}

.card.aic-field .card-header .mb-0 .btn.btn-link {
    text-decoration: none;
}

#accordion, #accordion-instructions {
    margin-top: 45px;
    margin-bottom: 30px;
}

h5.mb-0 a#features-link:hover {
    color: blue;
}

.card.instruction, .card.feature, 
.card.aic-gen {
    cursor: pointer;
}

.card.feature,
.card.aic-gen,
.card.aic-field {
    background-color: gray;
}

.card.instruction {
    background-color: gray;
    width: 90%;
    padding: 5px;
    margin: 5px;
}

.card-header .mb-0 .btn.btn-link {
    color: white;
    font-size: large;
}

.feature-highlight {
    background-color: lightgray;
}

.fa-github {
    color: black
}

#content {
    margin-top: 50px;
}

.img-installation#language-select {
    width: 50%;
}

.img-installation {
    width: 90%;
    margin-bottom: 50px;
}

#contributing-header, 
#faq-header,
#feature-header {
    margin-top: 50px;
    margin-bottom: 30px;
}

#contributing-content,
#faq-content {
    margin-left: 10%;
    margin-right: 10%;
}

#feature-content {
    margin-left: 5%;
    margin-right: 5%;
}

.contributing-step, .contributing-step-body, 
.faq-question, .faq-question-body, 
.install-step, .feature-highlight,
.feature-description, .feature-body,
.feature-title {
    background-color: white;
}

.contributing-step, 
.faq-question {
    padding: 15px;
}

.card.feature-title {
    padding: 15px;
    height: 100%;
}

#feature-content .row {
    margin-bottom: 15px;
}

.contributing-step-divider, 
.faq-question-divider,
.feature-divider {
    border: 1px solid black;
}

.aob {
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: medium;
    margin: 5px;
}

.prettyprint {
    background-color: white;
    margin-top: 15px;
    font-size: medium;
}

td.text-left ul {
    margin-left: 5%;
}

.aic-table-divider {
    border: 5px solid white;
}

button, .btn {
    word-break: normal;
    white-space: normal !important;
    word-wrap: break-word;
}

.list-group.list-group-horizontal .list-group-item {
    margin-bottom: 15px;
}

.ai-selector {
    width: 60%;
    margin-left: 15%;
    margin-right: 25%;
}

.ai-selector ul.list-group.list-group-horizontal {
    cursor: pointer;
    flex-direction: row;
}

#aic-content{
    margin-left: auto;
}

.feature-filter.dropdown-menu {
    padding: 0;
    margin: 0;
}

.feature-filter.dropdown-menu .dropdown-item {
    padding: 5px;
    width: 100%;
}

.feature-filter.dropdown-menu label.dropdown-item input[type="checkbox"] {
    padding: 0;
    width: 10px;
}

.feature-highlight #changelog {
    background-color: white;
}

.feature-highlight #changelog div.card {
    width: 80%;
}